.app{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #130F40;
   height: 100vh;
   gap: 20px;
}
h1{
   color: #fff;
}
.count-div{
   width: 200px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 20px;
}

form{
   display: flex;
   align-items: center;
}

input{
   padding: 10px 0px;
   border: none;
   outline: none;
   background-color: #2C3A47;
   color: #fff;
   text-indent: 10px;
}

button{
   padding: 6px 15px;
   color: #fff;
   font-size: 20px;
   border: none;
   outline: none;
   cursor: pointer;
}

.inc{
   background-color: #008000;
}
.dec{
   background-color: #EA2027;
}
